<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/v2/posts" method="POST">
        <input type="text" name="url" placeholder="url" /><br />
        <input type="text" name="channel" placeholder="channel" /><br />
        <input type="text" name="discription" placeholder="discription" /><br />
        <input type="text" name="songs" placeholder="songs" /><br />
        <input type="text" name="likes" placeholder="likes" /><br />
        <input type="text" name="shares" placeholder="shares" /><br />
        <input type="text" name="messages" placeholder="messages" /><br />

        <button>Submit</button>

    </form>
</body>

</html>